{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "import/order": [
      "error",
      { "groups": ["builtin", ["external", "sibling", "parent"], "index"] }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "node": true
  }
}
